[submodule "other_peoples/automations/Home-Automation"]
	path = other_peoples/automations/Home-Automation
	url = https://github.com/etiennec78/Home-Automation.git
[submodule "other_peoples/automations/etiennec78-ha"]
	path = other_peoples/automations/etiennec78-ha
	url = https://github.com/etiennec78/Home-Automation.git
[submodule "other_peoples/automations/panhans-ha"]
	path = other_peoples/automations/panhans-ha
	url = https://github.com/panhans/HomeAssistant.git
[submodule "other_peoples/automations/blackshome-calendar-notifications-and-actions"]
	path = other_peoples/automations/blackshome-calendar-notifications-and-actions
	url = https://gist.githubusercontent.com/Blackshome/40bfd92fb1fe6a9a9189325704a3c81b
